body {
    max-width: 70%;
    margin:0 auto;
}

input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Courier New", Monospace;
}

.btn-search {
    width: 10%;
    padding: 12px 0px;
    border-radius: 4px;
    display: inline-block;
    border: none;
    background-color: #8A2BE2;
    color:white;
}

.btn-search:hover {
    background-color:#4B0082;
}

h2 {
    text-align: center;
    font-family: "Courier New", Monospace;
}

.carrossel {
    border: 0px solid rgb(2, 13, 20);
    width:100%;
    height: 280px;
    display: flex;
}

/* Produto Referência  */
.prod-ref-box {
    border: 0px solid rgb(158, 11, 80);
    width: 285px;
    height: 280px;
}

.header-prod-ref-box {
    border: 0px solid rgb(11, 14, 158);
    width: 100%;
    padding: 10px 5px;
    font-family: arial, sans;
    font-weight: bold;
    background: linear-gradient(rgb(239,247,254), rgb(215,234,249)); 
    color: rgb(6,104,154)
}

.prod-reference {
    border-right: 1px solid rgb(209,209,209);
    width: 100%;
}

.prod-image {
    width: 65%;
    height: 120px;
    margin-left: 35px;
}

.prod-name {
    font-family: arial, sans;
    font-size:12px;
}

.prod-label {
    font-family: arial, sans;
    font-size:11px;
    color:red;
}

.prod-price, .prod-pay-cond {
    font-family: arial, sans;
    font-size:15px;
    color:red;
    font-weight: bold;
}

.prod-link {
    text-decoration:none;
    color: black;
}

/* Produtos Recomendados */
.slider-box {
    border: 0px solid rgb(216, 171, 21);
    height: 280px;
    width: 100%;
}

.slider-body {
    display: flex;
}

.header-slider-box {
    border: 0px solid rgb(11, 14, 158);
    width: 88.9%;
    padding: 10px 30px;
    font-family: arial, sans;
    font-weight: bold;
    background: linear-gradient(rgb(239,247,254), rgb(215,234,249)); 
    color: rgb(6,104,154);
}

.recommend-list {
    border: 0px solid rgb(70, 20, 206);
    width:650px;
    overflow:hidden;
}

.prod-recommend-grid.prod-recommend-grid--max-3 {
    transition: -ms-transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s, transform 0.5s ease 0s;
    position: relative;
    white-space: nowrap;
}

.prod-container {
    display: inline-block;
    margin: 4px;
    vertical-align: top;
    width: 208px;
}

.prod-reference .produto, .prod-recommend-grid .produto {
    border: 0px solid rgb(11, 158, 85);
    margin-left: 0;
    background: white;
    padding:5px;
    /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
    float: left;
}

.prod-recommend-grid .produto:hover {
    background: linear-gradient(rgb(215,234,249), white);    
}

/* Botões do Slide */
.slider-button-container {
    display: block;
    padding-top: 13%;
    z-index: 1;
    border: 0px solid rgba(28, 13, 236, 0.822);
}

.slider-button {
    background-color: transparent;
    border: 0 none;
    color: buttontext;
    cursor: pointer;
    display: block;    
}

.slider-button svg {
    width: 20px;
    height: 40px;
}

.btn-desability {
    fill:  rgba(128, 120, 120, 0.842);
}

.btn-hability {
    fill:  rgb(7,76,140);
    display: block;
}

.background-left {
    background-image:url("../images/btnLeftDesability.png");
}

.background-right {
    background-image:url("../images/btnRightDesability.png");
}
