body {
    max-width: 70%;
    margin:0 auto;
}

input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Courier New", Monospace;
}

.btnSearch {
    width: 10%;
    padding: 12px 0px;
    border-radius: 4px;
    display: inline-block;
    border: none;
    background-color: #8A2BE2;
    color:white;
}

.btnSearch:hover {
    background-color:#4B0082;
}

h2 {
    text-align: center;
    font-family: "Courier New", Monospace;
}

.carrossel {
    border: 0px solid rgb(2, 13, 20);
    width:100%;
    height: 280px;
    display: flex;
}

.prodRefBox {
    border: 0px solid rgb(158, 11, 80);
    width: 285px;
    height: 280px;
}

.headerProdRefBox {
    border: 0px solid rgb(11, 14, 158);
    width: 100%;
    padding: 10px 5px;
    font-family: arial, sans;
    font-weight: bold;
    background: linear-gradient(rgb(239,247,254), rgb(215,234,249)); 
    color: rgb(6,104,154)
}

.prodRef {
    border: 0px solid rgb(11, 158, 85);
    width: 94%;
    padding:5px;
    height: 200px;
}

.prodImage {
    width: 65%;
    height: 120px;
    margin-left: 35px;
}

.prodImage:hover {
    border: 2px solid rgb(173,216,230);
}

.prodName {
    font-family: arial, sans;
    font-size:12px;
}

.prodLabel {
    font-family: arial, sans;
    font-size:11px;
    color:red;
}

.prodPrice, .prodPayCond {
    font-family: arial, sans;
    font-size:15px;
    color:red;
    font-weight: bold;
}

.sliderBox {
    border: 0px solid rgb(216, 171, 21);
    height: 280px;
    width: 100%;
}

.slider-body {
    display: flex;
}

.headerSliderBox {
    border: 0px solid rgb(11, 14, 158);
    width: 88.9%;
    padding: 10px 30px;
    font-family: arial, sans;
    font-weight: bold;
    background: linear-gradient(rgb(239,247,254), rgb(215,234,249)); 
    color: rgb(6,104,154);
}

.recommendList {
    border: 0px solid rgb(70, 20, 206);
    width:650px;
    overflow:hidden;
}

.prodReference {
    border-right: 1px solid rgb(209,209,209);
    width: 100%;
}

.home-grid.prodRecommend-grid.prodRecommend-grid--max-3 {
    transition: -ms-transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s, transform 0.5s ease 0s;
    position: relative;
    white-space: nowrap;
}

.prodRecommend-container {
    display: inline-block;
    margin: 4px;
    vertical-align: top;
    width: 208px;
}

.prodReference .prodRecommend, .prodRecommend-grid .prodRecommend {
    border: 0px solid rgb(11, 158, 85);
    margin-left: 0;
    background: white;
    padding:5px;
    /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
    float: left;
}

.sliderButtonContainer {
    display: block;
    padding-top: 13%;
    z-index: 1;
    border: 0px solid rgba(28, 13, 236, 0.822);
}

.sliderButton {
    background-color: transparent;
    border: 0 none;
    color: buttontext;
    cursor: pointer;
    display: block;    
}

.sliderButton svg {
    width: 20px;
    height: 40px;
}

.btnDesability {
    fill:  rgba(128, 120, 120, 0.842);
}

.btnHability {
    fill:  rgb(7,76,140);
    display: block;
}

.backgroundLeft {
    background-image:url("images/btnLeftDesability.png");
}

.backgroundRight {
    background-image:url("images/btnRightDesability.png");
}

.prodRecommend-grid .prodRecommend:hover {
    background: linear-gradient(rgb(215,234,249), white);    
}